/* header */
header{
  padding-top:220px;
  text-align:center;
  color:var(--black-color);
}
header p{
  font-size:14px;
}
#header_button{
  width:160px;
  height:40px;
  border-radius:30px;
  line-height:40px;
  margin:30px auto 170px;
  border:2px var(--black-color) solid;
  display: block;
  text-decoration: none;
  color:var(--black-color)
}






/* 比較グラフ */
#graph{
font-size:20px;
margin:0 auto;
padding:0;
display: flex;
align-items: center;
width:80%;
}
#graph::before,
#graph::after{
  content: "";
  flex-grow: 1;
  margin:10px;
  height:1px;
  background-color: var(--black-color);
}
table{
  padding:50px 8px 120px;
  margin:0 auto;
}
th{
  width:90px;
  height:35px;
  background-color: var(--main-color);
  color:var(--base-color);
  font-size:12px;
}
#th_first{
    opacity:0;
}
td:nth-child(1){
  width:80px;
  height:30px;
  background-color: var(--main-color);
  font-size:10px;
  color:var(--base-color);
}
td{
  text-align:center;
  background-color: var(--base2-color);
  border:1px var(--base-color) solid;
  height:35px;
}






/* section */
section{
  width:300px;
  height:485px;
  /* background:var(--base2-color); */
  margin:40px auto;
  text-align:center;
  border:6px var(--main-color) solid;
}
.text_set{
  width:80%;
  height:90%;
  margin:40px auto 0;
}
section li{
  text-align: left;
}
.button{
  width:160px;
  height:40px;
  border-radius:5px;
  border:2px #515151 solid;
  line-height:40px;
  margin:25px auto;
  text-decoration: none;
  color:var(--black-color);
}
section a{
  display: block;
  margin-bottom: 15px;
}

