
/* header */
.title{
  text-align:left;
  font-size: 18px;
  font-family: sans-serif;
} 
.header_title{
  padding: 120px 0 80px 0;
  background-color: var(--base2-color);
  text-align: center;
  font-size:26px;
}
#header_menu{
  font-family: sans-serif;
  margin-left:20px;
  font-size:30px;
  /* color:var(--accent-color); */
}



section{
  padding:40px 0 40px 0;
  width:85%;
  margin:0 auto;
}
dt{
  padding-bottom:5px;
  padding:6px;
  border:2px var(--base2-color) solid;
}
dt::before{
content:"Q,  ";
color:var(--main-color);
font-size:20px;
}
dd{
  padding-bottom:20px;
}
dd::before{
  content:"A,  ";
  color:orange;
  font-size:20px;
}


footer{
  padding:200px;
}