:root{
  --base-color:#eee;
  --base2-color:#e6e6e6;
  --main-color:#cc3d3d;
  --black-color:#515151;
}

body{
  margin:0px auto;
  padding:0px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background:var(--base-color);
  font-size:14px;
  color: var(--black-color);
  text-align:justify;
  text-justify: inter-ideograph;
  max-width:1000px;
}

/* nav */
nav{
  background-color:var(--main-color);
  height:60px;
  position: fixed;
  top:0px;
  width:100%;
  z-index: 99;
  display: flex;
justify-content: space-between;
max-width: 1000px;
}
#hamburger{
  position: absolute; 
  right:15px; 
  top:14px;
}
#logo{
  margin-left:20px;
  line-height:60px;
  color:var(--base-color);
font-size:20px;
font-weight: bold;
}





/* 共通クラス */
.question{
  background-color:#ccc;
  height:25px;
  line-height: 25px;
  padding-left:10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: bold;

}
.question::after{
  content:"必須";
  color:white;
  background-color: #ee8c00;
  display: inline-block;
  height:18px;
  line-height:18px;
  width:35px;
  text-align: center;
  margin-left: 10px;
  font-weight: normal;

}
.short_answer{
  margin-left: 5px;
}
#country_input{
  height:30px;
  width:97%;
}
input{
  height:30px;
}






#container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:1000px;
  margin-top:60px;
  width:90%;
  margin:60px auto;
}

#menu{
  height:100px;
  width:97%;
  margin:0 auto;
  margin-top:30px;
  border:5px #ccc solid;
}
#menu_set{
margin-left:20px;
height:60px;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-top:20px;
}
#name_menu{
  font-size:16px;
  font-weight: bold;
}



#name_answer{
  margin-bottom: 10px;
}







#address_content{
  padding:5px 0 10px;
}
#address_number_set{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height:80px;
}
#address_number{
  line-height: 30px;
}
#address_number_input{
  width:100px;
}
#address_mail{
  line-height: 30px;
}
#address_mail_input{
  width:100px;
}
#address_ul{
  text-align: left;
  padding: 0;
}
.address_li{
  list-style-type: none;
}


#number{
  line-height: 30px;
}
#number_set{
  width:100%;
  background-color: #fff;
  max-width: 300px;


  display: flex;
  justify-content: space-between;
}
.input_number{
  width:40px;
}
#address_number_input1{
  width:80px;
}
#address_number_input2{
  width:90px;
}
#address_number_input3{
  width:90px;
}



#team_answer{
  width:97%;
}


#input_checkbox{
  height:15px;
  line-height: 30px;
  vertical-align: bottom;
}


#next{
  width:100%;
  height:60px;
  background-color: #fff;
  text-align: center;
  display: flex;
  box-shadow: 0px 1px 2px #515151;
}
#next_text{
  font-weight: bold;
  margin: 0 auto;
  line-height: 30px;
}