{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block main %}
  <header>
    <h2 id="header_menu">HOPER</h2>
    <ul>
      <li id="list1" class="list_menu"><a href="#link1" class="menu_a"><span class="menu_span">01</span>ビジョン</a></li>
      <li id="list2" class="list_menu"><a href="#link2" class="menu_a"><span class="menu_span">02</span>HOPERの特徴</a></li>
      <li id="list3" class="list_menu"><a href="#link3" class="menu_a"><span class="menu_span">03</span>生徒の声</a></li>
      <li id="list4" class="list_menu"><a href="#link4" class="menu_a"><span class="menu_span">04</span>活動報告</a></li>
      <li id="list5" class="list_menu"><a href="#link5" class="menu_a"><span class="menu_span">05</span>入会にあたって</a></li>
    </ul>
  </header>

  <a name="link1"></a>
  <section id="section1">
    <h1>｜ビジョン</h1>
    <p>{{hoper_data.vision_content}}</p>
  </section>



  <a name="link2"></a>
  <section id="section2">
    <h1>｜HOPERの特徴</h1>
    <p>{{hoper_data.feature_content}}
    </p>
  </section>


  <a name="link3"></a>
  <section id="section3">
    <h1>｜生徒の声</h1>
    <p>{{hoper_data.student_content}}</p>
  </section>



  <a name="link4"></a>
  <section id="section4">
    <h1>｜活動報告</h1>
    <p>{{hoper_data.action_content}}</p>
  </section>



  
  <a name="link5"></a>
  <section id="section5">
    <h1>｜入会にあたって</h1>
    <p>{{hoper_data.join_content}}</p>
  </section>
  {% endblock %}
  
</body>
</html>