{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block main %}
  <header>
    <h2 id="header_menu">HOPER</h2>
    <ul>
      <li id="list1" class="list_menu"><a href="#link1" class="menu_a"><span class="menu_span">01</span>ビジョン</a></li>
      <li id="list2" class="list_menu"><a href="#link2" class="menu_a"><span class="menu_span">02</span>HOPERの特徴</a></li>
      <li id="list3" class="list_menu"><a href="#link3" class="menu_a"><span class="menu_span">03</span>生徒の声</a></li>
      <li id="list4" class="list_menu"><a href="#link4" class="menu_a"><span class="menu_span">04</span>活動報告</a></li>
      <li id="list5" class="list_menu"><a href="#link5" class="menu_a"><span class="menu_span">05</span>入会にあたって</a></li>
    </ul>
  </header>

  <a name="link1"></a>
  <section id="section1">
    <h1>｜ビジョン</h1>
    <p>当塾の理念は選手ファストです。一人一人の人生にコミットし、どのような結果がまっていようとも、「後悔を絶対にさせない」ことが目標です。これは吉武自身、最後の夏の大会で3塁コーチャーの戦いにやぶれ、スタンドで応援していました。しかし、実力がなかった自分が100人を超える大所帯のなかで、ベンチ入りあらそうをできたことを誇りにおもい、悔いなく野球人生に幕を下ろすことができました。その経験から今現在は野球塾の専属コーチを任されています。
    </p>
  </section>



  <a name="link2"></a>
  <section id="section2">
    <h1>｜HOPERの特徴</h1>
    <p>HOPER最大の特徴は「１人１人にコミットする」ということです。そのため、１シーズンの有料生徒数は最大３０名までとなっております。満員の場合は8月頃、３年生が引退と同時に入会が可能になります。
    </p>
  </section>


  <a name="link3"></a>
  <section id="section3">
    <h1>｜生徒の声</h1>
    <p>
      オフライン野球塾場合、チームでの全体練習が終わり次第練習するのが基本です。厳しい練習を行っている選手の体は休養をとることも、練習の一つです。積み重ねで怪我を招くこともございます。オンライン野球塾でも、技術指導を行っている塾は数多くありますが、HOPERのメインはベンチ入りです。もちろん技術指導も行いますが、ベンチ入りがギリギリ、完全に不可能な選手がメイン層です。
      有名野球塾の場合、会員数が数100人を超えています。当塾では選手一人一人に完全にコミットするために、人数制限を設けております。そして指導コーチは全員吉武に指導をうけることが可能です。技術指導を受けたい場合に、別のものが指導する場合も稀にございます。
    </p>
  </section>



  <a name="link4"></a>
  <section id="section4">
    <h1>｜活動報告</h1>
    <p>当塾の理念は選手ファストです。一人一人の人生にコミットし、どのような結果がまっていようとも、「後悔を絶対にさせない」ことが目標です。これは吉武自身、最後の夏の大会で3塁コーチャーの戦いにやぶれ、スタンドで応援していました。しかし、実力がなかった自分が100人を超える大所帯のなかで、ベンチ入りあらそうをできたことを誇りにおもい、悔いなく野球人生に幕を下ろすことができました。その経験から今現在は野球塾の専属コーチを任されています。
    </p>
  </section>



  
  <a name="link5"></a>
  <section id="section5">
    <h1>｜入会にあたって</h1>
    <p>当塾の理念は選手ファストです。一人一人の人生にコミットし、どのような結果がまっていようとも、「後悔を絶対にさせない」ことが目標です。これは吉武自身、最後の夏の大会で3塁コーチャーの戦いにやぶれ、スタンドで応援していました。しかし、実力がなかった自分が100人を超える大所帯のなかで、ベンチ入りあらそうをできたことを誇りにおもい、悔いなく野球人生に幕を下ろすことができました。その経験から今現在は野球塾の専属コーチを任されています。
    </p>
  </section>
  {% endblock %}
  
</body>
</html>