{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/plan.css' %}">
{% endblock %}

{% block main %}
  <header>
    <h1>全プラン詳細</h1>
    <p>完全無料のクラスを始め、<br>
      専属型有料クラスまで存在します
    </p>
    <a href="{% url 'question' %}" id="header_button">よくある質問</a>


<h2 id="graph">３プラン比較</h2>
<table>
  <thead>
    <tr>
      <th id="th_first"></th>
      <th>無料プラン</th>
      <th>スタンダート</th>
      <th>プレミアム</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>個別相談(LINE)</td>
      <td>◯</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>メールマガジン</td>
      <td>◯</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>電話相談</td>
      <td>×</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>動画指導</td>
      <td>×</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>練習プラン作成</td>
      <td>×</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>直接指導</td>
      <td>×</td>
      <td>×</td>
      <td>◯</td>
    </tr>
  </tbody>
</table>
</header>





  <section id="section1">
    <div class="text_set">
    <h1>無料プラン</h1>
    <p>まずはHOPERを体験してみたい方向け
    幅広い人向けの発信</p>
    <h1>￥0／月（税込）</h1>
    <ul>
      <li>LINE質問・相談</li>
      <li>ラインマガジン配信</li>
      <li>無料プランへの登録は、公式LINEの友達追加をもって完了となります。</li>
    </ul>
    <a href="{% url 'sign_up' %}" class="button">申込をする</a>
    <!-- <a href="">機能詳細</a> -->
    <!-- <div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=ATYs3NECYd-cN3I8PYQ7EbGQuNQShgYmSf7ZO0HLHN8wA4ridZL542iNDrfygCc_VcdDLxPT7FEusxGZ&vault=true" data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
      style: {
          shape: 'rect',
          color: 'white',
          layout: 'vertical',
          label: 'subscribe'
      },
      createSubscription: function(data, actions) {
        return actions.subscription.create({
          'plan_id': 'P-0VD437979B169981JL6JCAYY'
        });
      },
      onApprove: function(data, actions) {
        alert(data.subscriptionID);
      }
  }).render('#paypal-button-container');
</script> -->
    <a href="{% url 'use' %}">ご利用規約</a>
    </div>
  </section>


  <section id="section2">
    <div class="text_set">
      <h1>スタンダートプラン</h1>
      <p>無料クラスではものたりない方むけ<br>
      幅広い人向けの発信</p>
      <h1>￥2980／月（税込）</h1>
      <ul>
        <li>LINE質問・相談</li>
        <li>ラインマガジン配信</li>
        <li>動画指導</li>
        <li>電話相談</li>
        <li>ご希望の方は練習プラン作成</li>
      </ul>
      <!-- <a href="{% url 'sign_up' %}" class="button">申込をする</a> -->
      <div id="paypal-button-container"></div>
      <script src="https://www.paypal.com/sdk/js?client-id=ATYs3NECYd-cN3I8PYQ7EbGQuNQShgYmSf7ZO0HLHN8wA4ridZL542iNDrfygCc_VcdDLxPT7FEusxGZ&vault=true" data-sdk-integration-source="button-factory"></script>
      <script>
        paypal.Buttons({
            style: {
                shape: 'rect',
                color: 'white',
                layout: 'vertical',
                label: 'subscribe'
            },
            createSubscription: function(data, actions) {
              return actions.subscription.create({
                'plan_id': 'P-73A75313HX396183CL6JB62Q'
              });
            },
            onApprove: function(data, actions) {
              alert(data.subscriptionID);
            }
        }).render('#paypal-button-container');
      </script>
      <!-- <a href="">機能詳細</a> -->
      <a href="{% url 'use' %}">ご利用規約</a>
    </div>
  </section>


  <section id="section3">
    <div class="text_set">
      <h1>プレミアムプラン</h1>
      <p>現在登録者2名<br>
      幅広い人向けの発信</p>
      <h1>￥8980／月（税込）</h1>
      <ul>
        <li>LINE質問・相談</li>
        <li>ラインマガジン配信</li>
        <li>動画指導</li>
        <li>電話相談</li>
        <li>ご希望の方は練習プラン作成</li>
        <li>直接指導（指導内容によって練習場所は相談）</li>
      </ul>
      <p>スタンダートプランに既に加入しているお客様が対象になります。プレミアムプランに加入を希望される方は、公式LINEより、プレミアムプランへのアップグレード申請を行ってください。</p>
      <!-- <a href="">機能詳細</a> -->
      <a href="{% url 'use' %}">ご利用規約</a>
    </div>
  </section>


{%endblock%}
</body>
</html>