{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/plan.css' %}">
{% endblock %}

{% block main %}
  <header>
    <h1>全プラン詳細</h1>
    <p>完全無料のクラスを始め、<br>
      専属型有料クラスまで存在します
    </p>
    <a href="{% url 'question' %}" id="header_button">よくある質問</a>


<h2 id="graph">３プラン比較</h2>
<table>
  <thead>
    <tr>
      <th id="th_first"></th>
      <th>無料プラン</th>
      <th>スタンダート</th>
      <th>プレミアム</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>専属サポート</td>
      <td>◯</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>LINE質問</td>
      <td>◯</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>メニュー作成</td>
      <td>×</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>直接レッスン</td>
      <td>×</td>
      <td>×</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>電話相談</td>
      <td>×</td>
      <td>×</td>
      <td>◯</td>
    </tr>
  </tbody>
</table>
</header>





  <section id="section1">
    <div class="text_set">
    <h1>無料プラン</h1>
    <p>まずはHOPERを体験してみたい方向け
    幅広い人向けの発信</p>
    <h1>￥0／月（税込）</h1>
    <ul>
      <li>ラインマガジン配信</li>
      <li>ラインでも質問</li>
      <li>無料動画の視聴</li>
      <li>打撃指導</li>
    </ul>
    <a href="{% url 'sign_up' %}" class="button">申込をする</a>
    <a href="">機能詳細</a>
    <a href="">ご利用規約</a>
    </div>
  </section>


  <section id="section2">
    <div class="text_set">
      <h1>スタンダートプラン</h1>
      <p>無料クラスではものたりない方むけ<br>
      幅広い人向けの発信</p>
      <h1>￥2980／月（税込）</h1>
      <ul>
        <li>スタンダートコース</li>
        <li>ラインマガジンの配信</li>
        <li>技術情報の取得</li>
        <li>生徒同志が繋がることができる</li>
        <li>打撃指導</li>
      </ul>
      <a href="{% url 'sign_up' %}" class="button">申込をする</a>
      <a href="">機能詳細</a>
      <a href="">ご利用規約</a>
    </div>
  </section>


  <section id="section3">
    <div class="text_set">
      <h1>プレミアムプラン</h1>
      <p>現在登録者2名<br>
      幅広い人向けの発信</p>
      <h1>￥8980／月（税込）</h1>
      <ul>
        <li>有料テキスト(14800円で販売していたもの)
          の閲覧</li>
        <li>専属電話対応</li>
        <li>オリジナル練習プランの作成</li>
        <li>生徒同志が繋がることができる</li>
        <li>打撃指導</li>
      </ul>
      <a href="{% url 'sign_up' %}" class="button">申込をする</a>
      <a href="">機能詳細</a>
      <a href="">ご利用規約</a>
    </div>
  </section>


{%endblock%}
</body>
</html>