{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/plan.css' %}">
{% endblock %}

{% block main %}
  <header id="plan_header">
    <h1>全プラン詳細</h1>
    <p id="plan_header_p">完全無料のクラスを始め、<br>
      専属型有料クラスまで存在します
    </p>
    <a href="{% url 'question' %}" id="header_button">よくある質問</a>


<h2 id="graph">３プラン比較</h2>
<table>
  <thead>
    <tr>
      <th id="th_first"></th>
      <th>無料プラン</th>
      <th>スタンダート</th>
      <th>プレミアム</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>個別相談(LINE)</td>
      <td>◯</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>メールマガジン</td>
      <td>◯</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>電話相談</td>
      <td>×</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>動画指導</td>
      <td>×</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>練習プラン作成</td>
      <td>×</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
    <tr>
      <td>直接指導</td>
      <td>×</td>
      <td>×</td>
      <td>◯</td>
    </tr>
  </tbody>
</table>
</header>


{% for plan in plan_data %}
  <section class="plan_section">
    <div class="text_set">
    <h1>{{ plan.name }}</h1>
    <p>{{ plan.explanation }}
    </p>
    <h1>￥{{ plan.price }}／月（税込）</h1>
    <ul>
      {% for list in plan_list %}
      {% if list.parent == plan %}
      <li class="plan_list">{{ list.name }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    <a href="{% url 'line' %}" class="plan_list_btn">申込をする</a>
    <a href="{% url 'use' %}" class="plan_list_a">ご利用規約</a>
    </div>
  </section>
{% endfor %}
{% endblock %}
</body>
</html>