{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}

{% block main %}



<header>
  <h1 class="title header_title">
    よくあるご質問
  </h1>
  <!-- <ul>
    <li id="list1"><span>01</span>あいうえお</li>
    <li id="list2"><span>02</span>かきくけこ</li>
    <li id="list3"><span>03</span>さしすせそ</li>
    <li id="list4"><span>04</span>たちつてと</li>
    <li id="list5"><span>05</span>なにぬねの</li>
  </ul> -->
</header> 


<section class="section1">
  <h1 class="title">あいうえお</h1>

  <dl>
    <dt>人数制限とありますが、</dt>
    <dd>プランの下部に残り入学可能人数が記載されております。ご確認よろしくお願いします</dd>
    <dt>途中解約はできますか</dt>
    <dd>ワンクリックで解約が可能になっております</dd>
    <dt>卒業生の人数は何人ですか</dt>
    <dd>昨年夏までの卒業生で200名を超えております</dd>
  </dl>

</section>


<section id="section2">
  <h1 class="title">かきくけこ</h1>

  <dl>
    <dt>人数制限とあ、現在は入学でき</dt>
    <dd>プランの下部に残り入学可能人数が記載されております。ご確認よろしくお願いします</dd>
    <dt>途中解約はできますか</dt>
    <dd>ワンクリックで解約が可能になっております</dd>
    <dt>卒業生の人数は何人ですか</dt>
    <dd>昨年夏までの卒業生で200名を超えております</dd>
  </dl>

</section>

<section id="section3">
  <h1 class="title">さしすせそ</h1>

  <dl>
    <dt>人数制限とありますが、現在は入学で</dt>
    <dd>プランの下部に残り入学可能人数が記載されております。ご確認よろしくお願いします</dd>
    <dt>途中解約はできますか</dt>
    <dd>ワンクリックで解約が可能になっております</dd>
    <dt>卒業生の人数は何人ですか</dt>
    <dd>昨年夏までの卒業生で200名を超えております</dd>
  </dl>

</section>


<section id="section4">
  <h1 class="title">たちつてと</h1>

  <dl>
    <dt>人数制限とありますが、現在は入学で</dt>
    <dd>プランの下部に残り入学可能人数が記載されております。ご確認よろしくお願いします</dd>
    <dt>途中解約はできますか</dt>
    <dd>ワンクリックで解約が可能になっております</dd>
    <dt>卒業生の人数は何人ですか</dt>
    <dd>昨年夏までの卒業生で200名を超えております</dd>
  </dl>

</section>


<section id="section5">
  <h1 class="title">なにぬねの</h1>

  <dl>
    <dt>人数制限とありますが、現在は入学で</dt>
    <dd>プランの下部に残り入学可能人数が記載されております。ご確認よろしくお願いします</dd>
    <dt>途中解約はできますか</dt>
    <dd>ワンクリックで解約が可能になっております</dd>
    <dt>卒業生の人数は何人ですか</dt>
    <dd>昨年夏までの卒業生で200名を超えております</dd>
  </dl>

</section>


</body>

{% endblock %}