{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}

{% block main %}
<header>
  <h1 class="title header_title">
    よくあるご質問
  </h1>
</header> 


<section class="section1">
  <h1 class="title">当塾に関して</h1>
  <dl>
    <dt>どうやって連絡を取り合うのですか</dt>
    <dd>連絡手段はLINEになります。</dd>
    <dt>１日何回質問できるのですか</dt>
    <dd>質問回数は無制限です。
    有料プランの生徒から優先的に対応していきます。</dd>
    <dt>生徒数は何名いるのですか</dt>
    <dd>有料・無料プラン全体で212名所属しています。(2020/8/1）</dd>
    <!-- <dt>生徒数は何名いるのですか</dt>
    <dd>有料・無料プラン全体で昨年秋で212名所属していました。</dd>
    <dt>生徒数は何名いるのですか</dt>
    <dd>有料・無料プラン全体で昨年秋で212名所属していました。</dd> -->
  </dl>
</section>


<section id="section2">
  <h1 class="title">決算に関して</h1>
  <dl>
    <dt>結果が出なかったら返金してもらえるのですか</dt>
    <dd>全額返金精度がございます。<br>詳しくは<a href="{% url 'law' %}">特定商取引法に基づく表記</a>をご確認ください。</dd>
    <dt>途中解約はできますか</dt>
    <dd>いつでもご解約していただけます。<br>
    詳しく内容をご確認されたい方はお問い合わせページよりご連絡ください。</dd>
    <dt>paypalとはなんですか</dt>
    <dd>世界中で３億人の方が利用している決算サービスになります。<br>当塾とお客様の間にpaypalサービスを挟むことで、クレジットカード情報などは一切こちらで知ることはありません。</dd>
  </dl>

</section>

<section id="section3">
  <h1 class="title">サービス内容に関して</h1>

  <dl>
    <dt>技術指導もしてもらえるのですか</dt>
    <dd>有料プランの方のご要望はすべて対応しております。
    </dd>
    <dt>途中解約はできますか</dt>
    <dd>ワンクリックで解約が可能になっております</dd>
    <dt>卒業生の人数は何人ですか</dt>
    <dd>昨年夏までの卒業生で200名を超えております</dd>
  </dl>

</section>


<section id="section4">
  <h1 class="title"></h1>

  <dl>
    <dt>人数制限とありますが、現在は入学で</dt>
    <dd>プランの下部に残り入学可能人数が記載されております。ご確認よろしくお願いします</dd>
    <dt>途中解約はできますか</dt>
    <dd>ワンクリックで解約が可能になっております</dd>
    <dt>卒業生の人数は何人ですか</dt>
    <dd>昨年夏までの卒業生で200名を超えております</dd>
  </dl>

</section>


<!-- <section id="section5">
  <h1 class="title">なにぬねの</h1>

  <dl>
    <dt>人数制限とありますが、現在は入学で</dt>
    <dd>プランの下部に残り入学可能人数が記載されております。ご確認よろしくお願いします</dd>
    <dt>途中解約はできますか</dt>
    <dd>ワンクリックで解約が可能になっております</dd>
    <dt>卒業生の人数は何人ですか</dt>
    <dd>昨年夏までの卒業生で200名を超えております</dd>
  </dl>

</section> -->
</body>

{% endblock %}