{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
{% endblock %}

{% block main %}

  <div id="container">
    <div id="menu">
      <div id="menu_set">
        <div id="choice_manu">選択した商品</div>
        <div id="name_menu">スタンダートコース</div>
      </div>
    </div>


    <div id="name" >
      <div id="name_question" class="question">お名前</div>
      姓名<input type="text" id="name_answer" class="short_answer"><br>
      名前<input type="text" id="name_answer_under" class="short_answer">
    </div>


    <div id="country">
      <div class="question">お住まいの地域</div>
      <input type="text" placeholder="東京" id="country_input">
    </div>


    <div id="team">
      <div id="team_question" class="question">所属高校(中学)・所属クラブチーム
      </div>
      <input type="text" id="team_answer" placeholder="HOPER高校">
    </div>


    <div id="number">
      <div class="question">電話番号</div>
      <div id="number_set">
      <input type="number" min="0" max="9" id="address_number_input1" class="short_answer" placeholder="例)03" class="input_number">−
      <input type="number" min="0" max="9" id="address_number_input2" placeholder="1234" class="input_number">−
      <input type="number" min="0" max="9" id="address_number_input3" placeholder="例)5678" class="input_number">
    </div>
    </div>


    <div id="mail">
      <div id="mail_question" class="question">メールアドレス</div>
      <div id="address_mail">メールアドレス<input type="number" min="0" max="9" id="address_mail_input" class="short_answer" placeholder="例)hoper@com.jp"></div>
    </div>




    <div id="contact">
      <div id="contact_content">HOPER塾ご利用規約をお読みになり、同意される方はチェックをして次へ進んでください</div>
      <input type="checkbox" value="" id="input_checkbox">同意する
    </div>


    <div id="next">
      <div id="next_text">次へ<br>
        (お支払い情報入力)</div>
    </div>




  </div><!--container-->
  </body>

  {% endblock %}