{% extends "app/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/teacher.css' %}">
{% endblock %}

{% block main %}
<div id="background">
  <div class="back-image0"></div>
  <div class="back-image1 back back_odd"></div>
  <div class="back-image2 back back_even"></div>
  <div class="back-image3 back back_odd"></div>
  <div class="back-image4 back back_even"></div>
  <!-- <div class="back-image5 back back_odd"></div> -->
</div>
;
<header>
  <div id="header_text">
    <h3 id="subtitle">HOPER専属コーチ</h3>
    <h1 id="title">Yoshitake</h1>
  </div>
  <div id="all_box">
    <div class="box1 box"><a href="#link1">思い</a></div>
    <div class="box2 box"><a href="#link2">経歴</a></div>
    <div class="box3 box"><a href="#link3">プロフィール</a></div>
    <div class="box4 box"><a href="#link4">プライベート</a></div>
  </div>
</header>


<a name="link1"></a>
<secition id="section1">
  <div id="section1_text">
    <h1 id="h1_1">｜思い</h1>
    <p id="p_1" class="teacher_p">私の高校は入学時１２８名の選手が在籍する、甲子園出場経験もある強豪高でした。技術も才能もない私は
      たくさんの挫折を味わいました。<br>
      スタンドの屈辱感、グラウンドに立つことの幸福感のどちらも知っています<br>
      当塾では、過去の私のような「ベンチ入りが絶望的」な選手に向けて
      マンツーマンでサポートしています。<br>
      一緒に頑張りましょう
      </p>
  </div>
  <div id="img_1" class="section_img"></div>
</secition>


<a name="link2"></a>
<secition id="section2">
  <div id="img_2" class="section_img"></div>
  <div id="section2_text">
    <h1 id="h1_2">経歴｜</h1>
    <p id="p_2" class="teacher_p">中高生を中心に現在までに200名以上を直接指導。インスタグラムでオンライン指導を初めて２ヶ月で無料生徒数を100名を突破。専属コーチかつ、HOPERの創設者であるあああああああああああああああああああああ。</p>
  </div>
</secition>


<a name="link3"></a>
<secition id="section3">
  <div id="section3_text">
    <h1 id="h1_3">｜プロフィール</h1>
    <p id="p_3" class="teacher_p">
      ・東京日野シニア卒業（2007年）<br>
      ・日大鶴ヶ丘高校卒業（2018年）<br>
      ・日本大学文理学部入学(2020)<br>
      ・野球塾〇〇で指導(2020)<br>
      ・HOPER専属コーチ就任(2022)
    </p>
  </div>
  <div id="img_3" class="section_img"></div>
</secition>


<a name="link4"></a>
<secition id="section4">
  <div id="img_4" class="section_img"></div>
  <div id="text_4">
    <h1 id="h1_4">プライベート｜</h1>
    <p id="p_4" class="teacher_p">吉武が最も大事にすることの一つに「信頼関係」があります。そのため当塾では初めての方がプレミアムコースにご入会いただくことはできません。生徒と向き合い権利を獲れます。撮っています</p>
  </div>
</secition>



<footer>
  <div id="name">
  <div id="icon"></div>
  <div id="my_set">
    <div id="my_name">yoshitake_ryota</div>
    <a href="https://www.instagram.com/renshu_shinai/?hl=ja" id="follow">フォローする</a>
  </div>
  </div>

<div id="album">
  <div class="pic pic1"></div>
  <div class="pic pic2"></div>
  <div class="pic pic3"></div>
  <div class="pic pic4"></div>
  <div class="pic pic5"></div>
  <div class="pic pic6"></div>
  <div class="pic pic7"></div>
  <div class="pic pic8"></div>
  <div class="pic pic9"></div>
</div>
</footer>

<a href="#" id="page_top">
  PAGE TOP
</a>
{%endblock%}
</body>
</html>